[defaults]
become = yes
become_method = sudo
inventory = ./nagios_inventory.yml
remote_user = ansible
private_key_file = ~/.ssh/id_rsa
# Vagrant Options Below
#remote_user = vagrant
#private_key_file = ./id_rsa
