---
- name: Install Nagios
  hosts: Nagios_Server
  vars_files:
    - secrets_setup_server.yml
    - vars_setup_server.yml
  tasks:
    - name: Include Ansible installation role
      include_role:
        name: Nagios_Server
