---
############################################################################
# cmake  - required by OpenJ9 and OpenJFX builds - requires C++11 compiler #
############################################################################

# 3.15.0 is required to be able to build the ccache version from the jdk25u devkit
# The newer 4.1.0 would be more consistent with the version OpenJ9 uses on macos
# But 3.15.0 will mean it can use the system on on Ubuntu 20+ without rebuilding here
- name: Set cmake version
  set_fact: cmakeVersion=3.15.0
  tags: cmake

- name: Test if cmake is installed on path
  shell: cmake >/dev/null 2>&1
  failed_when: false
  register: cmake_installed
  changed_when: false
  tags:
    - cmake
    - skip_ansible_lint

- name: Test if cmake is installed at the correct version
  shell: set -o pipefail | cmake --version 2>/dev/null | grep version | awk '{print $3}'
  when: cmake_installed.rc == 0
  register: cmake_version
  changed_when: false
  tags: cmake

- name: Download cmake
  get_url:
    url: https://github.com/Kitware/CMake/releases/download/v{{ cmakeVersion }}/cmake-{{ cmakeVersion }}.tar.gz
    dest: /tmp/cmake-{{ cmakeVersion }}.tar.gz
    mode: 0440
    force: no
    validate_certs: no
    checksum: sha256:8f864e9f78917de3e1483e256270daabc4a321741592c5b36af028e72bff87f5
  when:
    - (cmake_installed.rc != 0 ) or (cmake_installed.rc == 0 and cmake_version.stdout is version_compare(cmakeVersion, operator='lt'))
    - ansible_architecture != "armv7l"
    - (ansible_distribution != "openSUSE")
  tags: cmake

# The checksum file of the download is checked, not the binary itself. The checksum in the download step is equal to the one in the file
- name: GPG Signature verification
  script: ../Supporting_Scripts/package_signature_verification.sh -fl "https://github.com/Kitware/CMake/releases/download/v{{ cmake_version }}/cmake-{{ cmake_version }}-SHA-256.txt" -sl "https://github.com/Kitware/CMake/releases/download/v{{ cmake_version }}/cmake-{{ cmake_version }}-SHA-256.txt.asc" -k {{ key.cmake }}
  when:
    - (cmake_installed.rc != 0 ) or (cmake_installed.rc == 0 and cmake_version.stdout is version_compare(cmakeVersion, operator='lt'))
    - ansible_architecture != "armv7l"
    - not (ansible_distribution == "CentOS" and ansible_distribution_major_version == "6")
    - (ansible_distribution != "openSUSE")
  tags: cmake

- name: Extract cmake
  unarchive:
    src: /tmp/cmake-{{ cmakeVersion }}.tar.gz
    dest: /tmp
    copy: False
  when:
    - (cmake_installed.rc != 0 ) or (cmake_installed.rc == 0 and cmake_version.stdout is version_compare(cmakeVersion, operator='lt'))
    - ansible_architecture != "armv7l"
    - (ansible_distribution != "openSUSE")
  tags: cmake

# NOTE: PATH setting is for RHEL6/CentOS6 since gcc 4.4.7 is not C++11 compliant
- name: Running ./configure & make for cmake
  shell: cd /tmp/cmake-{{ cmakeVersion }} && PATH=/opt/gcc-4.8.5/bin:$PATH && ./configure && make -j {{ ansible_processor_vcpus }} && make install
  when:
    - (cmake_installed.rc != 0 ) or (cmake_installed.rc == 0 and cmake_version.stdout is version_compare(cmakeVersion, operator='lt'))
    - ansible_architecture != "armv7l"
    - (ansible_distribution != "openSUSE")
  tags: cmake

- name: Remove downloaded packages for cmake
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/cmake-{{ cmakeVersion }}
    - /tmp/cmake-{{ cmakeVersion }}.tar.gz
  failed_when: false
  tags: cmake
