---
- name: Set Xcode base variables
  set_fact:
    xcode_version: "15.2"
    xcode_app: "Xcode.app"

- name: Set Xcode derived variables
  set_fact:
    xcode_xip: "Xcode_{{ xcode_version }}.xip"
    xcode_xip_path: "/tmp/Xcode_{{ xcode_version }}.xip"
    xcode_app_tmp_path: "/tmp/{{ xcode_app }}"
    xcode_app_dest_path: "/Applications/{{ xcode_app }}"
    xcode_sas_token_var: "XCode{{ xcode_version | replace('.', '_') }}_SAS_TOKEN"
    xcode_appleopenjdk_tmp: "/tmp/appleopenjdk_clone"

# Xcode {{ xcode_version }} is needed to build JDK 17+
# Xcode {{ xcode_version }} can be downloaded from https://developer.apple.com/download/all after authentication with apple ID and password

- name: Check if Xcode is installed
  stat:
    path: "{{ xcode_app_dest_path }}"
  register: xcode_installed

- name: Check if SAS variable is defined
  set_fact:
    apple_variables: yes
  when: not xcode_installed.stat.exists and (lookup('vars', xcode_sas_token_var, default=None) is not none)

- name: Display Information when SAS token is not defined
  debug:
    msg: "{{ xcode_sas_token_var }} is not defined. Xcode will need to be installed manually. Skipping Xcode installation"
  when: not xcode_installed.stat.exists and apple_variables is not defined

- name: Install Xcode
  when: not xcode_installed.stat.exists and apple_variables is defined
  block:
    - name: Check for {{ xcode_xip_path }}
      stat:
        path: "{{ xcode_xip_path }}"
      register: xcode_xip_file

    - name: Download Xcode from Azure blob storage
      when: not xcode_xip_file.stat.exists
      get_url:
        url: "https://ansiblestorageadopt.blob.core.windows.net/xcode-{{ xcode_version | replace('.', '-') }}/{{ xcode_xip }}?{{ lookup('vars', xcode_sas_token_var) }}"
        dest: "{{ xcode_xip_path }}"
        mode: 0755

    - name: Extract Xcode
      shell: xip -x "{{ xcode_xip_path }}"
      args:
        chdir: /tmp
        creates: "{{ xcode_app_tmp_path }}"

    - name: Move Xcode to /Applications directory
      copy:
        src: "{{ xcode_app_tmp_path }}"
        dest: "{{ xcode_app_dest_path }}"
        remote_src: true

    - name: Obtain JavaNativeFoundation from appleopenjdk
      shell: mkdir -p "{{ xcode_appleopenjdk_tmp }}" && cd "{{ xcode_appleopenjdk_tmp }}" && git clone https://github.com/apple/openjdk.git appleopenjdk

    - name: Apply JavaNativeFoundation patch to Xcode
      shell: |
        mkdir {{ xcode_app_dest_path }}/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/JavaNativeFoundation.framework/Versions/Current/Headers
        cp {{ xcode_appleopenjdk_tmp }}/appleopenjdk/apple/JavaNativeFoundation/JavaNativeFoundation/*.h {{ xcode_app_dest_path }}/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/JavaNativeFoundation.framework/Versions/Current/Headers
        cp -R {{ xcode_appleopenjdk_tmp }}/appleopenjdk/apple/JavaNativeFoundation/JavaNativeFoundation/Modules {{ xcode_app_dest_path }}/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/JavaNativeFoundation.framework/Versions/Current
        ln -s Versions/Current/Headers {{ xcode_app_dest_path }}/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/JavaNativeFoundation.framework/Headers
        ln -s Versions/Current/Modules {{ xcode_app_dest_path }}/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/JavaNativeFoundation.framework/Modules

    - name: Clean up appleopenjdk
     shell: rm -rf "{{ xcode_appleopenjdk_tmp }}"

    - name: Select Xcode as the default Xcode
      shell: sudo xcode-select --switch "{{ xcode_app_dest_path }}"

    - name: Accept Xcode license
      shell: arch -x86_64 sudo xcodebuild -license accept

    - name: Clean up Xcode.xip file
      file:
        path: "{{ xcode_xip_path }}"
        state: absent

