---
########################################
# AdoptOpenJDK - Ansible Playbook for: #
# --------------- AIX ---------------  #
########################################

- name: Ansible AIX playbook
  hosts: all
  environment:
    PATH: "/opt/IBM/xlC/13.1.3/bin:/opt/freeware/bin:{{ ansible_env.PATH }}"
    PERL_MB_OPT: "--install_base /opt/freeware"
    PERL_MM_OPT: "INSTALL_BASE=/opt/freeware"

  roles:
    - role: logs
      position: "Start"
      tags: always
    - role: debug
      tags: debug

    # Roles are put into 6 groups
    ## AIX BOS install requirements
    ## AIX BOS configuration
    ## Core OSS (bash, unzip, gtar)
    ## AIX User Admin
    ## Additional Software
    ## OJDK Bootstraps

    # 1. AIX BOS install requirements

    # These packages are installed using installp - which can enlarge
    # filesystem space, as needed, on demand
    - role: openssl3
      tags: openssl3

    - security

    # 2. AIX BOS configuration

    - sys0
    - syslog
    - crontab
    # TBD: additional tasks below that need to be promoted to
    # or migrated into an AIX setup role - in paritcular -
    # the tasks that setup the legal shells needed for user configuration
    # may need to be performed AFTER yum processing - rather than before

    # 3. Additional Software: both licensed and OSS

    # Note: although X11 is AIX BOS software - there is a chance that the
    # Ansible module unarchive: may be called - and that requires,
    # at a minimum, gtar and unzip to be available - regardless of need.
    # Likewise, the xlc files may also need the Ansible unarchive and
    # need to be evaluated after the CORE OSS software has been installed.
    - X11
    ## verify/install licensed IBM compilers
    - xlc_v13
    - xlc_v16

    # 4. Core OSS installation

    ## Note: this may actually already be performed - partially
    ## depending on how python - to use Ansible - has been prepared
    # yum based installation of additional software
    # installs some gnu packages required by ansible modules
    # Note: AIX File system configuration must be run now as RPM based software
    # cannot expand filesystem space on demand
    - aixfs
    - role: dnf
      tags: dnf

    ## additional OSS packages
    - ant
    - ant_contrib

    # 5. AIX User Admin

    # users needed - wait until here to be sure bash is installed
    # tbd: Need other actions performed first - mainly adding /usr/bin/bash
    # to the list of legal shells.
    - role: rbac
      tags:
        - adoptopenjdk
        - users
    - role: users
      tags:
        - adoptopenjdk
        - users

    # 6. Install OJDK Bootstraps

    - role: bootjdk
      tags:
        - adoptopenjdk
        - bootjdk

    # 7. Modify /etc/hosts file to include ipv4 address and fqdn

    - hosts_file
    - bash_login
    - ntp_time_server
    - disable_sendmail
    - enable_swap

    - role: logs
      position: "End"
      tags: always
