---
# defaults file for Nagios_Configuration

task_list:
    - Download Ansible Inventory File
    - Run Create Nagios Server Configurations script
    - Run Create Nagios Servicegroups script

# Input Path
Input_Path: /tmp/ansible_inventory.yml

# Nagios Server Base Path
Nagios_Base_Path: /usr/local/nagios

# Ansible Inventory Host Group Types To Monitor -- Maps To Nagios Service Groups
Nagios_Service_Types: 'build test dockerhost'
