###########
# BootJDK #
###########
---
- name: Verify space in /usr
  include_tasks: chfs.yml
- name: Install protected OpenJDK versions
  include_tasks: bootjdk7.yml

- name: Install Additional OpenJDK versions
  include_tasks: openjdk.yml
  loop: "{{ jdk_versions }}"
  loop_control:
    loop_var: jdk
  vars:
    jdk_versions:
      - '8'
      - '10'
      - '11'
      - '17'
      - '20'

- name: Set /usr/java8_64 as default
  file:
    src: /usr/java8_64/jre/bin/java
    dest: /usr/bin/java
    state: link
