###########
# BootJDK #
###########
---
- name: Install OpenJDK from adoptopenjdk
  vars:
    os_img: "aix/ppc64/jdk"
    heap: "normal"
    impl: "hotspot"
    adoptium_baseurl: "https://api.adoptium.net/v3/binary/latest"
    adoptium_vendor: "eclipse"
    adoptopenjdk_baseurl: "https://api.adoptopenjdk.net/v3/binary/latest"
    adoptopenjdk_vendor: "adoptopenjdk"
    project: "{{ heap }}/{{ vendor }}?project=jdk"
  block:
    - name: Verify space in /usr
      include_tasks: chfs.yml

    - name: Check for jdk {{ jdk }} availability
      stat:
        path: /usr/java{{ jdk }}_64
      register: java_installed

    - name: Download JDK {{ jdk }} binary from api.adoptopenjdk.net
      get_url:
        url: "{{ adoptopenjdk_baseurl }}/{{ jdk }}/ga/{{ os_img }}/{{ impl }}/{{ adoptopenjdk_project }}"
        dest: /tmp/jdk{{ jdk }}.tar.gz
        mode: 0440
        timeout: 25
      retries: 3
      delay: 5
      when:
        - java_installed.stat.isdir is not defined
        - jdk == 10 or jdk == 16 # These are the only two we still use from adoptopenjdk API
      register: openjdk

    - name: Download JDK {{ jdk }} binary from api.adoptium.net
      get_url:
        url: "{{ adoptium_baseurl }}/{{ jdk }}/ga/{{ os_img }}/{{ impl }}/{{ adoptium_project }}"
        dest: /tmp/jdk{{ jdk }}.tar.gz
        mode: 0440
        timeout: 25
      retries: 3
      delay: 5
      when:
        - java_installed.stat.isdir is not defined
        - ! ( jdk == 10 or jdk == 16 )
      register: openjdk

    - name: Download JDK {{ jdk }} binary from api.adoptopenjdk.net
      get_url:
        url: "{{ adoptopenjdk_baseurl }}/{{ jdk }}/ga/{{ os_img }}/{{ impl }}/{{ project }}"
        dest: /tmp/jdk{{ jdk }}.tar.gz
        mode: 0440
        timeout: 25
      retries: 3
      delay: 5
      when:
        - java_installed.stat.isdir is not defined
        - jdk == 10 or jdk == 16

      register: openjdk

    - name: Get Signature File Link
      shell: curl -s 'https://api.adoptium.net/v3/assets/latest/{{ jdk }}/hotspot?architecture=ppc64&image_type=jdk&os=aix&vendor=eclipse' | grep signature_link | awk '{split($0,a,"\""); print a[4]}'
      when:
        - jdk != '10' and jdk != '16'
        - java_installed.stat.isdir is not defined
      register: sig_output

    - name: GPG Signature verification
      script: ../Supporting_Scripts/package_signature_verification.sh -f /tmp/jdk{{ jdk }}.tar.gz -sl "{{ sig_output.stdout }}" -k {{ key.adoptium }}
      when:
        - jdk != '10' and jdk != '16'
        - java_installed.stat.isdir is not defined

    - name: Install JDK {{ jdk }} binary
      unarchive:
        src: /tmp/jdk{{ jdk }}.tar.gz
        dest: /usr
        remote_src: yes
      when:
        - java_installed.stat.isdir is not defined

    - name: Report HTTP 404 message
      debug:
        msg: "{{ openjdk.msg }}"
        verbosity: 0
      when:
        - openjdk.msg is defined

    - name: Remove JDK binary
      file:
        path: /tmp/jdk{{ jdk }}.tar.gz
        state: absent
      when:
        - java_installed.stat.isdir is not defined

    # jdk8 directories do not have a hyphen
    - name: Find java 8 directory
      find:
        file_type: directory
        paths: /usr
        patterns: 'jdk8u*'
      when:
        - java_installed.stat.isdir is not defined
        - jdk == '8'
      register: java8_directory

    - name: Find java directory
      find:
        file_type: directory
        paths: /usr
        patterns: 'jdk-{{ jdk }}*'
      when:
        - java_installed.stat.isdir is not defined
        - jdk != '8'
      register: java_directory

    # For jdk8
    - name: Symlink to java8_64
      file:
        src: "{{ item.path }}"
        dest: /usr/java8_64
        state: link
      with_items:
        - "{{ java8_directory.files }}"
      when:
        - java_installed.stat.isdir is not defined
        - jdk == '8'

    - name: Symlink to java{{ jdk }}_64
      file:
        src: "{{ item.path }}"
        dest: /usr/java{{ jdk }}_64
        state: link
      with_items:
        - "{{ java_directory.files }}"
      when:
        - java_installed.stat.isdir is not defined
        - jdk != '8'
  # Defaults for BootJDK API
  # AdoptOpenJDK changes to Adoptium:
  # - impl: openj9 -> hotspot
  # - vendor: adoptopenjdk -> eclipse
  # - url:  https://api.adoptopenjdk.net/v3/* -> https://api.adoptium.net/v3/*
  # HOWEVER!
  # Since versions 10 and 16 are not available as 'eclipse' aka adoptium.net
  # versions - the playbook shall continue to use adoptopenjdk.net
  # and adoptopenjdk as URL and vendor
  # In short, only jvm_impl (impl) changes!
