---
##########
# CentOS #
##########

#########################################
# Configure Repos and Update the system #
#########################################
- name: Enable EPEL release
  yum:
    name: epel-release
    state: installed
    update_cache: yes
    validate_certs: no
  tags: patch_update

- name: YUM upgrade all packages
  yum:
    name: '*'
    state: latest
  tags: patch_update

############################
# Build Packages and tools #
############################
- name: Call Build Packages and Tools Task
  include_tasks: build_packages_and_tools.yml
