---
- hosts: all
  gather_facts: yes
  tasks:
    - block:
      # Set standard variables
        - name: Load AdoptOpenJDKs variable file
          include_vars: group_vars/all/adoptopenjdk_variables.yml

  #########
  # Roles #
  #########
  roles:
    - linux_installer
    - Jenkins_User
    - Superuser
