---
###################################
# AdoptOpenJDK - Ansible Playbook #
###################################
# Groups can be passed in as a command-line variable in Ansible playbook.
# It can be defined as 'all' or a specific group which the host belongs to.
# For example, it can be 'all' or 'x86' for when a host is in the group 'x86'.
- hosts: "{{ Groups | default('localhost:build:test:perf:!*zos*:!*win*:!*aix*') }}"
  gather_facts: yes
  tasks:
    - block:
      # Set standard variables
        - name: Load AdoptOpenJDKs variable file
          include_vars: group_vars/all/adoptopenjdk_variables.yml
  environment:
    PATH: "/usr/local/bin:{{ ansible_env.PATH }}"

  #########
  # Roles #
  #########
  roles:
    - Debug
    - role: Get_Vendor_Files
      tags: [vendor_files, adoptopenjdk]
    - Version
    - Common
    - Providers                   # AdoptOpenJDK Infrastructure
    - autoconf
    - curl
    - Jenkins_User                # AdoptOpenJDK Infrastructure
    - role: freemarker            # OpenJ9
      tags: [build_tools, build_tools_openj9]
    - role: macos_codesign
      tags: [adoptopenjdk, codesign]
      when: ansible_distribution == "MacOSX"
    - ant                         # Testing
    - Ant-Contrib                 # Testing
    - maven                       # Testing
    - GIT_Source
    - gmake
    - Docker                      # Testing
    - role: NVidia_Cuda_Toolkit   # OpenJ9
      tags: [build_tools, build_tools_openj9]
    - Superuser                   # AdoptOpenJDK Infrastructure
    - Swap_File
    - Crontab
    - role: NTP_TIME
      when: ansible_distribution != "MacOSX"
    - gcc_48
    - role: gcc_7                 # OpenJ9
      tags: [build_tools, build_tools_openj9]
    - role: cmake                 # OpenJ9 / OpenJFX
      tags: [build_tools, build_tools_openj9, build_tools_openjfx]
    - ccache
    - role: nasm                  # OpenJ9
      when: ansible_architecture == 'x86_64'
      tags: [build_tools, build_tools_openj9]
    - role: zulu7                 # JDK8 Build Bootstrap
      when: ansible_distribution != "MacOSX"
    - role: adoptopenjdk_install
      jdk_version: 8
      when: ansible_distribution != "Alpine"
      tags: build_tools
    - role: adoptopenjdk_install  # JDK11 Build Bootstrap
      jdk_version: 10
      when:
        - ansible_distribution != "Alpine"
        - ansible_distribution != "MacOSX"
      tags: build_tools
    - role: adoptopenjdk_install
      jdk_version: 11
      when: ansible_distribution != "Alpine"
      tags: build_tools
    - role: adoptopenjdk_install  # JDK14 Build Bootstrap
      jdk_version: 13
      when: ansible_distribution != "Alpine"
      tags: build_tools
    - role: adoptopenjdk_install  # JDK15 Build Bootstrap
      jdk_version: 14
      when: ansible_distribution != "Alpine"
      tags: build_tools
    - OpenSSL102                  # OpenJ9
    # - Nagios_Plugins              # AdoptOpenJDK Infrastructure
    # - Nagios_Master_Config        # AdoptOpenJDK Infrastructure
    # - Nagios_Tunnel               # AdoptOpenJDK Infrastructure
    - riscv_cross_compiler        # For building JDK11/J9 on RISC-V architecture
    - Clean_Up
    - Security
    - Vendor
    - IPv6
