---
# Xcode 11.7 is needed to build x64 JDK8 om Arm64 Mac
# Xcode11.7 can be downloaded from https://developer.apple.com/download/all after authentication with apple ID and password
# See https://github.com/adoptium/infrastructure/issues/2536#issuecomment-1708716478

- name: Check if Xcode11.7 is installed
  stat:
    path: /Applications/Xcode-11.7.app/
  register: xcode11_installed

- name: Check if SAS variable is defined
  set_fact:
    apple_variables: yes
  when: not xcode11_installed.stat.exists and XCode11.7_SAS_TOKEN is defined

- name: Display Information when XCode11.7_SAS_TOKEN is not defined
  debug:
    msg: "XCode11.7_SAS_TOKEN is not defined. Xcode will need to be installed manually.
          Skipping Xcode installation"
  when: not xcode11_installed.stat.exists and apple_variables is not defined

- name: Download XCode 11.7 from Azure blob storage
  get_url:
    url: "https://ansiblestorageadopt.blob.core.windows.net/xcode11-7/Xcode_11.7.xip?{{ XCode11.7_SAS_TOKEN }}"
    dest: /tmp/Xcode_11.7.xip
    mode: 0755
  when: not xcode11_installed.stat.exists and apple_variables is defined

- name: Install Xcode11.7
  when: not xcode11_installed.stat.exists and apple_variables is defined
  block:

    - name: Extract Xcode11.7
      shell: xip -x /tmp/Xcode_11.7.xip
      args:
        chdir: /tmp
        creates: /tmp/Xcode.app

    - name: Move Xcode11.7 to /Applications directory
      copy:
        src: /tmp/Xcode.app
        dest: /Applications/Xcode-11.7.app/
        remote_src: true

    - name: Clean up Xcode11.7.xip file
      file:
        path: /tmp/Xcode_11.7.xip
        state: absent
