---
#######################################################################################
# AdoptOpenJDK - Ansible Playbook to install Nagios plugins on RHEL 7 on x86 hardware #
#######################################################################################

###############
# Nagios user #
###############
# Skipping linting as no situation where this can't run (lint error 301)
- name: Allow Nagios to use yum while restricting it to check-update only
  shell: |
    echo "nagios ALL = NOPASSWD: /usr/bin/yum --security check-update" >> /etc/sudoers

# Can't find nagios-plugins-all on RHEL74/s390x so removing this
###################
# Install plugins #
###################
- name: Install nagios-plugins-all
  yum:
    name: nagios-plugins-all
    state: latest
  when:
    - ansible_distribution_major_version != "6"
    - not (ansible_distribution_major_version == "7" and ansible_architecture == "s390x")
    - not (ansible_distribution_major_version == "8" and ansible_architecture == "x86_64")
    - not (ansible_distribution_major_version >= "10")
  tags: nagios_plugins

- name: Install nagios-plugins (RHEL 8 / x86_64)
  command: dnf -y install nagios-plugins
  when:
    - ansible_distribution == "RedHat"
    - ansible_distribution_major_version == "8"
    - ansible_architecture == "x86_64"
  tags: nagios_plugins

##########
# Layout #
##########
- name: Creates Nagios folder
  file: path=/usr/local/nagios/ state=directory mode=0755 owner=nagios
  when:
    - ansible_distribution_major_version != "6"
    - not (ansible_distribution_major_version == "7" and ansible_architecture == "s390x")
    - not (ansible_distribution_major_version >= "10")
  tags: nagios_plugins

- name: Check if plugins folder is where its expected
  stat:
    path: /usr/local/nagios/libexec/check_by_ssh
  register: plugins_folder
  tags: nagios_plugins

- name: Create symlink to plugins
  file: src=/usr/lib64/nagios/plugins dest=/usr/local/nagios/libexec state=link
  when:
    - ansible_distribution_major_version != "6"
    - not (ansible_distribution_major_version == "7" and ansible_architecture == "s390x")
    - not (ansible_distribution_major_version >= "10")
    - not plugins_folder.stat.exists
  tags: nagios_plugins

#############################
# Install plugins On RHEL 6 #
#############################
- name: Test if nagios-plugins are already installed
  stat:
    path: /usr/local/nagios
  register: folder_nagios

- name: Set plugin version/checksum fact (RHEL < 10)
  set_fact:
    plugin_version: "2.2.1"
    plugin_checksum: "sha256:647c0ba4583d891c965fc29b77c4ccfeccc21f409fdf259cb8af52cb39c21e18"
  when: ansible_distribution_major_version | int < 10
  tags: nagios_plugins

- name: Set plugin version/checksum fact (RHEL >= 10)
  set_fact:
    plugin_version: "2.4.9"
    plugin_checksum: "sha256:74da12037c0ab62ad34f9d9f00f475c472cef0913d2ffa9810c17fef101cd5cf"
  when: ansible_distribution_major_version | int >= 10
  tags: nagios_plugins

- name: Download nagios-plugins source
  get_url:
    url: "https://nagios-plugins.org/download/nagios-plugins-{{ plugin_version }}.tar.gz"
    dest: /tmp/
    mode: '0440'
    timeout: 25
    checksum: "{{ plugin_checksum }}"
  when: not folder_nagios.stat.exists
  tags: nagios_plugins

- name: Extract nagios-plugins
  unarchive:
    src: "/tmp/nagios-plugins-{{ plugin_version }}.tar.gz"
    dest: /tmp/
    remote_src: yes
  when: not folder_nagios.stat.exists
  tags: nagios_plugins

- name: Compile and install nagios-plugins
  shell: |
    cd /tmp/nagios-plugins-{{ plugin_version }} && \
    ./configure --prefix=/usr/local/nagios && \
    make -j {{ ansible_processor_vcpus }} && \
    make install
  args:
    chdir: "/tmp/nagios-plugins-{{ plugin_version }}"
  become: true
  when: not folder_nagios.stat.exists
  tags: nagios_plugins

##############################
# Install additional plugins #
##############################

- name: Install custom Nagios plugin scripts
  copy:
    src: "roles/Nagios_Plugins/tasks/additional_plugins/{{ item }}"
    dest: "/usr/local/nagios/libexec/{{ item }}"
    mode: '0755'
  loop:
    - check_yum
    - check_ntp_timesync
  tags: nagios_plugins
