---
################
# Java_install #
################
- name: Test if Java is already installed version {{ jdk_version }}
  win_stat:
    path: 'C:\openjdk\jdk-{{ jdk_version }}\bin'
  register: java_installed
  tags: Java_install


- name: Set API source for old java versions
  set_fact: apisource=api.adoptopenjdk.net
  when: jdk_version==10
    
- name: Download Java{{ jdk_version }}
  win_get_url:
    url: https://api.adoptopenjdk.net/v3/binary/latest/{{ jdk_version }}/ga/windows/x64/jdk/{{ bootjdk }}/normal/adoptopenjdk?project=jdk
    dest: 'C:\temp\jdk-{{ jdk_version }}.zip'
  when: not java_installed.stat.exists and jdk_version!=10
  tags: Java_install

# Java 10 is the only version we still need to retrieve from adoptopenjdk
- name: Download Java{{ jdk_version }} from adoptopenjdk
  win_get_url:
    url: https://api.adoptopenjdk.net/v3/binary/latest/{{ jdk_version }}/ga/windows/x64/jdk/{{ bootjdk }}/normal/adoptopenjdk?project=jdk
    dest: 'C:\temp\jdk-{{ jdk_version }}.zip'
  when: not java_installed.stat.exists and jdk_version==10
  tags: Java_install

- name: Install Java{{ jdk_version }}
  win_unzip:
    src: C:\temp\jdk-{{ jdk_version }}.zip
    dest: C:\Program Files\Java
  when: not java_installed.stat.exists
  tags: Java_install

- name: Create symlink to directory without spaces if not already there
  win_shell: for /D %a in ("C:\Program Files\Java\jdk-{{ jdk_version }}*") do IF NOT EXIST "C:\openjdk\jdk-{{ jdk_version }}" MKLINK /D "C:\openjdk\jdk-{{ jdk_version }}" "%a"
  args:
    executable: cmd.exe
    creates: 'C:\openjdk\jdk-{{ jdk_version }}'
  tags: Java_install

- name: Remove temp zip file
  win_file:
    path: 'C:\temp\jdk-{{ jdk_version }}.zip'
    state: absent
  when: not java_installed.stat.exists
  tags: Java_install
