---
################################
# Visual Studio Community 2022 #
################################

- name: Check the Windows version
  win_shell: |
    Get-WmiObject -Class Win32_OperatingSystem | Select-Object -ExpandProperty Version
  register: windows_version

- name: Test if VS 2022 is installed
  win_stat:
    path: 'C:\Program Files (x86)\Microsoft Visual Studio\2022'
  register: vs2022_installed
  tags: adoptopenjdk

# Update MSVS 2022 Installation For JDK25 ZGC Errors
# https://github.com/adoptium/infrastructure/issues/4064
# https://github.com/adoptium/aqa-tests/issues/6592
- name: Install VS2022 From Adoptium Layout
  when: (not vs2022_installed.stat.exists) and (windows_version.stdout_lines[0] | regex_search('^(10\.|11\.|2016|2019|2022)'))
  tags: adoptopenjdk
  block:
    - name: Transfer VS2022 Layout File
      win_copy:
        src: /Vendor_Files/windows/vs_layout_2022_17092025.zip
        dest: C:\TEMP\VS2022_Layout.zip
        remote_src: no
      failed_when: false

    # Check For The Transferred File & Exit If AdoptOpenJDK Run
    - name: Check If Layout Has Transferred
      win_stat:
        path: 'C:\TEMP\VS2022_Layout.zip'
      register: vs2022_layout_ready

    - name: Get SHA256 checksum of the file
      win_shell: |
        $filePath = "C:\TEMP\VS2022_Layout.zip"
        $expectedChecksum = "C22C8E30E5D6EB84EC0C226E5459507BD5B015A1CC075AD324C2B66BB63B5B74"
        $actualChecksum = Get-FileHash -Path $filePath -Algorithm SHA256 | Select-Object -ExpandProperty Hash

        if ($actualChecksum -ne $expectedChecksum) {
            Write-Output "Checksum mismatch"
            Write-Output "Actual Checksum: $actualChecksum"
            Write-Output "Expect Checksum: $expectedChecksum"
            exit 1
        }
      register: checksum_result
      when: (vs2022_layout_ready.stat.exists)
      changed_when: false

    # Exit Play If No VS2022 Layout & AdoptOpenJDK = true
    # This Is Defined Behaviour - This Shouldnt Occur But If It Does, Its Captured Here
    - name: Exit With Error When No Layout Within AdoptOpenJDK
      fail:
        msg: "The VS2022 Layout File Appears To Be Missing From Vendor_Files"
      when: (not vs2022_layout_ready.stat.exists)

    # Install VS2022 From Layout For AdoptOpenJDK
    - name: Unzip VS2022 Layout
      win_unzip:
        src: C:\TEMP\VS2022_Layout.zip
        dest: C:\TEMP
      when: (vs2022_layout_ready.stat.exists)

    # When Installing From The Layout, We Need To Ensure the x86 installer is not detected.
    - name: Check if x86 Installer folder exists
      win_stat:
        path: "C:\\Program Files (x86)\\Microsoft Visual Studio\\Installer"
      register: vs2022_installer_folder
      when: (vs2022_layout_ready.stat.exists)

    - name: Rename x86 Installer When Installing VS2022 from the Adoptium Layout
      win_shell: |
        Rename-Item -Path "C:\\Program Files (x86)\\Microsoft Visual Studio\\Installer" -NewName "Installer.old"
      args:
        executable: powershell
        creates: "C:\\Program Files (x86)\\Microsoft Visual Studio\\Installer.old"
      when:
        - vs2022_layout_ready.stat.exists
        - vs2022_installer_folder.stat.exists

    - name: Run Visual Studio 2022 Installer From Layout
      win_shell: |
          Start-Process -Wait -FilePath 'C:\temp\VSLayout2022\vs_setup.exe' -ArgumentList '--nocache --quiet --norestart --wait --noweb --add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --includeOptional --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --add Microsoft.VisualStudio.Component.VC.Tools.ARM64 --add Microsoft.VisualStudio.Component.VC.ATL.ARM64 --add Microsoft.VisualStudio.Component.VC.MFC.ARM64'
      args:
        executable: powershell
      when: (vs2022_layout_ready.stat.exists)

    - name: Register Visual Studio Community 2022 DIA SDK shared libraries
      win_command: 'regsvr32 /s "{{ item }}"'
      with_items:
        - C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\DIA SDK\bin\msdia140.dll
        - C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\DIA SDK\bin\amd64\msdia140.dll

    - name: Remove VS2022 Zip File
      win_file:
        path: C:\TEMP\VS2022_Layout.zip
        state: absent

    - name: Remove VS2022 Unzipped Layout
      win_file:
        path: C:\temp\VSLayout2022
        state: absent

- name: Test if VS 2022 is installed(non adopt)
  win_stat:
    path: 'C:\Program Files (x86)\Microsoft Visual Studio\2022'
  register: vs2022_installed

# Download & Install VS2022 When No Layout & Not AdoptOpenJDK
# This is the download to install the same payloads as the adoptium layout above
- name: Download VS Build Tools install for 17.12.12
  win_get_url:
    url: 'https://download.visualstudio.microsoft.com/download/pr/8eb6bd5d-4ec9-4328-a0e7-f59e7e51fdca/9b748c66ba6a2b22f346cc113f354ded3b202b53a109fff93111167741acb6c1/vs_BuildTools.exe' # 17.12.12
    checksum: 9b748c66ba6a2b22f346cc113f354ded3b202b53a109fff93111167741acb6c1
    checksum_algorithm: sha256
    dest: 'C:\temp\vs_BuildTools22.exe'
    force: no
  when: (not vs2022_installed.stat.exists) and (windows_version.stdout_lines[0] | regex_search('^(10\.|11\.|2016|2019|2022)'))

- name: Run Visual Studio 2022 Installer From Download
  win_shell: |
      Start-Process -Wait -FilePath 'C:\temp\vs_BuildTools22.exe' -ArgumentList '--wait --add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --includeOptional --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --add Microsoft.VisualStudio.Component.VC.Tools.ARM64 --add Microsoft.VisualStudio.Component.VC.ATL.ARM64 --add Microsoft.VisualStudio.Component.VC.MFC.ARM64 --quiet --norestart'
  args:
    executable: powershell
  when: (not vs2022_installed.stat.exists) and (windows_version.stdout_lines[0] | regex_search('^(10\.|11\.|2016|2019|2022)'))
  register: vs2022_error
  failed_when: vs2022_error.rc != 0 and vs2022_error.rc != 3010

#  Note: If this does not find the files, then the NativeDesktop component was not installed
- name: Register Visual Studio Community 2022 DIA SDK shared libraries
  win_command: 'regsvr32 /s "{{ item }}"'
  with_items:
    - C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\DIA SDK\bin\msdia140.dll
    - C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\DIA SDK\bin\amd64\msdia140.dll
  when: (not vs2022_installed.stat.exists) and (windows_version.stdout_lines[0] | regex_search('^(10\.|11\.|2016|2019|2022)'))

# Reboot The Machine After VS Installation
- name: Reboot machine after Visual Studio installation
  win_reboot:
    reboot_timeout: 1800
    shutdown_timeout: 1800
  when: (not vs2022_installed.stat.exists)
  tags:
    - reboot
