---
#############################################
# Install build requirements for IcedTeaWeb #
#############################################

- hosts: all
  gather_facts: yes
  tasks:
    - block:
      # Set standard variables
        - name: Load AdoptOpenJDKs variable file
          include_vars: group_vars/all/adoptopenjdk_variables.yml
  environment:
    PATH: "/usr/local/bin:{{ ansible_env.PATH }}"

#########
# Roles #
#########
  roles:
    - Common
    - GIT_Source
    - rust
    - pkg-config
    - automake
