---
##########
# Alpine #
##########

############################
# Build Packages and tools #
############################
- name: Call Build Packages and Tools Task
  include_tasks: build_packages_and_tools.yml

- name: Checking for /usr/lib/jvm
  stat: path=/usr/lib/jvm
  register: usr_lib_jvm_exists
  tags: build_tools

- name: Creating /usr/lib/jvm if not found
  file:
    path: /usr/lib/jvm
    state: directory
    owner: root
    mode: 0755
  when:
    - not usr_lib_jvm_exists.stat.exists
  tags: build_tools

- name: Install JDK for aarch64
  when: ansible_architecture == "x86_64"
  block:
  - name: Check if zulu-7 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu7
    register: zulu7_installed
    tags: build_tools

  - name: Install latest zulu-7 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu7.52.0.11-ca-jdk7.0.332-linux_x64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu7_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-7
    file:
      src: /usr/lib/jvm/zulu7.52.0.11-ca-jdk7.0.332-linux_x64
      dest: /usr/lib/jvm/zulu7
      state: link
    when:
      - not zulu7_installed.stat.exists
    tags: build_tools

  - name: Check if zulu-8 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu8
    register: zulu8_installed
    tags: build_tools
  - name: Install latest zulu-8 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu8.58.0.13-ca-jdk8.0.312-linux_musl_x64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu8_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-8
    file:
      src: /usr/lib/jvm/zulu8.58.0.13-ca-jdk8.0.312-linux_musl_x64
      dest: /usr/lib/jvm/zulu8
      state: link
    when:
      - not zulu8_installed.stat.exists
    tags: build_tools

  - name: Check if zulu-11 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu11
    register: zulu11_installed
    tags: build_tools

  - name: Install latest zulu-11 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu11.54.25-ca-jdk11.0.14.1-linux_musl_x64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu11_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-11
    file:
      src: /usr/lib/jvm/zulu11.54.25-ca-jdk11.0.14.1-linux_musl_x64
      dest: /usr/lib/jvm/zulu11
      state: link
    when:
      - not zulu11_installed.stat.exists
    tags: build_tools

  - name: Check if zulu-14 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu14
    register: zulu14_installed
    tags: build_tools

  - name: Install latest zulu-14 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu14.29.23-ca-jdk14.0.2-linux_musl_x64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu14_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-14
    file:
      src: /usr/lib/jvm/zulu14.29.23-ca-jdk14.0.2-linux_musl_x64
      dest: /usr/lib/jvm/zulu14
      state: link
    when:
      - not zulu14_installed.stat.exists
    tags: build_tools

  - name: Check if zulu-15 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu15
    register: zulu15_installed
    tags: build_tools

  - name: Install latest zulu-15 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu15.38.17-ca-jdk15.0.6-linux_musl_x64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu15_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-15
    file:
      src: /usr/lib/jvm/zulu15.38.17-ca-jdk15.0.6-linux_musl_x64
      dest: /usr/lib/jvm/zulu15
      state: link
    when:
      - not zulu15_installed.stat.exists
    tags: build_tools

- name: Install JDK for aarch64
  when: ansible_architecture == "aarch64"
  block:
  - name: Check if zulu-16 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu16
    register: zulu16_installed
    tags: build_tools

  - name: Install latest zulu-16 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu16.32.15-ca-jdk16.0.2-linux_musl_aarch64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu16_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-16
    file:
      src: /usr/lib/jvm/zulu16.32.15-ca-jdk16.0.2-linux_musl_aarch64
      dest: /usr/lib/jvm/zulu16
      state: link
    when:
      - not zulu16_installed.stat.exists
    tags: build_tools

  - name: Check if zulu-17 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu17
    register: zulu17_installed
    tags: build_tools

  - name: Install latest zulu-17 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu17.32.13-ca-jdk17.0.2-linux_musl_aarch64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu17_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-17
    file:
      src: /usr/lib/jvm/zulu17.32.13-ca-jdk17.0.2-linux_musl_aarch64
      dest: /usr/lib/jvm/zulu17
      state: link
    when:
      - not zulu17_installed.stat.exists
    tags: build_tools
  
  - name: Check if zulu-18 is already installed in the target location
    stat: path=/usr/lib/jvm/zulu18
    register: zulu18_installed
    tags: build_tools

  - name: Install latest zulu-18 release if not already installed
    unarchive:
      src: https://cdn.azul.com/zulu/bin/zulu18.28.13-ca-jdk18.0.0-linux_musl_aarch64.tar.gz
      dest: /usr/lib/jvm/
      remote_src: yes
    when:
      - not zulu18_installed.stat.exists
    tags: build_tools

  - name: Create symlink to point at zulu-18
    file:
      src: /usr/lib/jvm/zulu18.28.13-ca-jdk18.0.0-linux_musl_aarch64
      dest: /usr/lib/jvm/zulu18
      state: link
    when:
      - not zulu18_installed.stat.exists
    tags: build_tools
