---
############################
# Build_Packages_and_tools #
############################
- name: Set package manager var
  set_fact:
    package_var: "latest"

- name: Set package manager var for FreeBSD
  set_fact:
    package_var: "present"
  when:
    - ansible_distribution == "FreeBSD"

- name: Install Build Tool Packages (None RHEL)
  package: "name={{ item }} state={{ package_var }}"
  with_items: "{{ Build_Tool_Packages }}"
  when:
    - ansible_distribution != "RedHat"
  tags: build_tools

- name: Install Build Tool Packages (Prior To RHEL8)
  package: "name={{ item }} state={{ package_var }}"
  with_items: "{{ Build_Tool_Packages }}"
  when:
    - (ansible_distribution == "RedHat" and (ansible_distribution_major_version | int < 8))
  tags: build_tools

- name: Install Build Tool Packages (RHEL8+)
  command: dnf -y install {{ item }}
  with_items: "{{ Build_Tool_Packages }}"
  when:
    - (ansible_distribution == "RedHat" and (ansible_distribution_major_version | int >= 8))
  tags: build_tools

- name: Create symlink for gmake to make
  file:
    src: /usr/bin/make
    dest: /usr/bin/gmake
    owner: root
    group: root
    state: link
  when:
    - ansible_distribution != "FreeBSD"
    - ansible_distribution != "RedHat"
    - ansible_distribution != "CentOS"
    - ansible_distribution != "Fedora"
  tags: build_tools

- name: Install Test Tool Packages (None-RHEL)
  package: "name={{ item }} state={{ package_var }}"
  with_items: "{{ Test_Tool_Packages }}"
  when:
    - ansible_distribution != "RedHat"
  tags: test_tools

- name: Install Test Tool Packages ( Prior To RHEL8 )
  package: "name={{ item }} state={{ package_var }}"
  with_items: "{{ Test_Tool_Packages }}"
  when:
    - (ansible_distribution == "RedHat" and (ansible_distribution_major_version | int < 8))
  tags: test_tools

- name: Install Test Tool Packages ( RHEL8+ )
  command: dnf -y install {{ item }}
  with_items: "{{ Test_Tool_Packages }}"
  when:
    - (ansible_distribution == "RedHat" and (ansible_distribution_major_version | int >= 8))
  tags: test_tools
