---
########################
# jckservices iptables #
########################
- name: Install iptables-persistent
  apt: pkg=iptables-persistent state=latest
  tags:
    - skip_ansible_lint

- name: Clear iptables rules
  shell: iptables -X && iptables -F

- name: Setup iptables
  iptables:
    chain: OUTPUT
    jump: ACCEPT

- name: Setup iptables
  iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Setup iptables
  iptables:
    chain: INPUT
    protocol: icmp
    jump: ACCEPT

- name: Setup iptables allow 22
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 22
    jump: ACCEPT

- name: Setup iptables allow 53
  iptables:
    chain: INPUT
    protocol: udp
    destination_port: 53
    jump: ACCEPT

- name: Allow Azure private network (10.1.x.x)
  iptables:
    chain: INPUT
    src_range: 10.1.0.1-10.1.0.254
    jump: ACCEPT

- name: Setup iptables to only allow JCK hosts
  iptables:
    chain: INPUT
    source: "{{ item }}"
    jump: ACCEPT
  with_items:
    # List comes from https://github.com/temurin-compliance/infrastructure/blob/master/ansible/inventory.yml
    - 148.100.74.163 # jck-marist-ubuntu2004-s390x-3
    - 148.100.74.16 # jck-marist-ubuntu2204-s390x-1
    - 148.100.74.223 # jck-marist-rhel7-s390x-2
    - 129.33.196.193 # jck-ibm-aix71-ppc64-1
    - 129.33.196.194 # jck-ibm-aix71-ppc64-2
    - 140.211.168.163 # jck-osuol-ubuntu2004-ppc64le-1
    - 140.211.168.2 # jck-osuol-ubuntu2004-ppc64le-2
    - 213.146.141.66 # jck-linaro-ubuntu2004-aarch64-2
    - 20.61.222.79 # jck-skytap-aix72-ppc64-3
    - 20.61.222.106 # jck-skytap-aix72-ppc64-4
    - 12.202.69.3 # jck-siteox-solaris10u11-sparcv9-1
    - 178.62.54.114 # jck-digitalocean-ubuntu2004-x64-1
    - 188.166.144.71 # jck-digitalocean-ubuntu2004-x64-2
    - 139.178.86.125 # jck-equinix-ubuntu2004-aarch64-1
    - 208.52.168.211 # iywk3-macos11-x64
    - 207.254.73.168 # gn324-macos11-x86_64
    - 207.254.28.13 # esmv4-macos11-arm64
    - 207.254.28.99 # noh7B-macos12-arm64
    - 52.142.50.166 # jck-azure-ubuntu2204-x64-1
    - 172.178.96.199 # jck-ubuntu-2204-solaris10
    - 62.210.163.131 # jck-rise-ubuntu2404-risc64-1
    - 62.210.163.164 # jck-rise-ubuntu2404-risc64-2
    - 62.210.163.34 # jck-rise-ubuntu2404-risc64-3
    - 20.61.136.213 # jck-skytap-aix72-ppc64-5

- name: Setup iptables
  iptables:
    chain: INPUT
    jump: REJECT

- name: Set iptables_permanent
  shell: iptables-save > /etc/iptables/rules.v4
