---
#####################
# gmake from source #
#####################

# Conditions:
# Check if make is installed in /usr/local/bin/make on CentOS/RHEL on ppc64le,
# s390x, x86_64, on SLES12 on x86_64 and on Ubuntu14 on x86_64
# Proceed with downloading and installing make
# Addresses https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/499
# For RHEL 8, use gmake 4.2.1 already installed.

- name: Set make version
  set_fact: makeVersion=4.1
  tags: goodmake_source

- name: Test if self-built make is available
  shell: /usr/local/bin/make --version >/dev/null
  ignore_errors: yes
  register: goodmake_installed
  when:
    - ((((ansible_distribution == "SLES" or ansible_distribution == "openSUSE") and ansible_distribution_major_version == "12") or
      (ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "14")) and
      ansible_architecture == "x86_64") or
      ((ansible_distribution == "RedHat" or ansible_distribution == "CentOS") and ansible_distribution_major_version|int < 8)
  tags: goodmake_source

- name: Download make source
  get_url:
    url: https://ftp.gnu.org/gnu/make/make-{{ makeVersion }}.tar.gz
    dest: /tmp/make-{{ makeVersion }}.tar.gz
    mode: 0440
  when:
    - ((((ansible_distribution == "SLES" or ansible_distribution == "openSUSE") and ansible_distribution_major_version == "12") or
      (ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "14")) and
      ansible_architecture == "x86_64") or
      ((ansible_distribution == "RedHat" or ansible_distribution == "CentOS") and ansible_distribution_major_version|int < 8)
    - goodmake_installed.rc != 0
  tags: goodmake_source

- name: Extract make source
  unarchive:
    src: /tmp/make-{{ makeVersion }}.tar.gz
    dest: /tmp
    copy: False
  when:
    - ((((ansible_distribution == "SLES" or ansible_distribution == "openSUSE") and ansible_distribution_major_version == "12") or
      (ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "14")) and
      ansible_architecture == "x86_64") or
      ((ansible_distribution == "RedHat" or ansible_distribution == "CentOS") and ansible_distribution_major_version|int < 8)
    - goodmake_installed.rc != 0
  tags: goodmake_source

- name: Compile and install make from source
  shell: cd /tmp/make-{{ makeVersion }} && ./configure --prefix=/usr/local && make clean && make -j {{ ansible_processor_vcpus }} && make install
  when:
    - ((((ansible_distribution == "SLES" or ansible_distribution == "openSUSE") and ansible_distribution_major_version == "12") or
      (ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "14")) and
      ansible_architecture == "x86_64") or
      ((ansible_distribution == "RedHat" or ansible_distribution == "CentOS") and ansible_distribution_major_version|int < 8)
    - goodmake_installed.rc != 0
  tags: goodmake_source

- name: Create symlink for /usr/bin/gmake to our built make in /usr/local/bin/make
  file:
    src: /usr/local/bin/make
    dest: /usr/local/bin/gmake
    owner: root
    group: root
    state: link
  when:
    - ((((ansible_distribution == "SLES" or ansible_distribution == "openSUSE") and ansible_distribution_major_version == "12") or
      (ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "14")) and
      ansible_architecture == "x86_64") or
      ((ansible_distribution == "RedHat" or ansible_distribution == "CentOS") and ansible_distribution_major_version|int < 8)
    - goodmake_installed.rc != 0
  tags: goodmake_source

- name: Remove downloaded packages for gmake
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/make-{{ makeVersion }}
    - /tmp/make-{{ makeVersion }}.tar.gz
  ignore_errors: yes
  tags: goodmake_source
