---
##########
# RedHat #
##########

# Command Build Tool Packages
Build_Tool_Packages:
  - alsa-lib-devel
  - autoconf
  - bind-utils
  - bison                         # OpenJ9
  - bzip2
  - ca-certificates
  - cpio
  - cups-devel
  - diffutils
  - elfutils-libelf-devel
  - file
  - flex                          # OpenJ9
  - fontconfig-devel
  - freetype-devel
  - gnupg
  - gnutls
  - gnutls-utils
  - gcc
  - gcc-c++
  - gettext
  - glibc
  - glibc-common
  - glibc-devel
  - gmp-devel
  - libcurl-devel
  - libffi-devel
  - libpng-devel
  - libXext-devel
  - libXi-devel                   # JDK12+ compilation
  - libXrandr-devel               # JDK12+ compilation
  - libXrender-devel
  - libXt-devel
  - libXtst-devel
  - make
  - mesa-libGL-devel
  - mpfr-devel
  - nss-devel
  - nss-tools
  - openssl-devel
  - patch                         # For DevKit creation that runs "patch"
  - perl-devel
  - perl-IPC-Cmd                  # required for openssl v3 compiles
  - pkgconfig
  - strace                        # For SBOM dependency analysis
  - systemtap-sdt-devel
  - texinfo                       # For DevKit creation (binutils build)
  - unzip
  - wget
  - xz
  - zip

Additional_Build_Tools_NOT_RHEL8Plus:
  - libdwarf-devel                # now in CodeReady Linux Builder (CRB) repo
  - libmpc-devel                  # now in CodeReady Linux Builder (CRB) repo
  - ntp                           # in RHEL8, ntp package is replaced by chrony

Additional_Build_Tools_RHEL8Plus:
  - glibc-locale-source
  - glibc-langpack-ja             # required for creating Japanese locales
  - glibc-langpack-ko             # required for creating Korean locales
  - glibc-langpack-zh             # required for creating Chinese locales
  - git
  - cmake
  - procps-ng

Additional_Build_Tools_RHEL7:
  - libstdc++-static
  - procps-ng

Additional_Build_Tools_RHEL7_PPC64LE:
  - libstdc++

Additional_Build_Tools_RHEL_x86:
  - glibc.i686                    # a dependency required for executing a 32-bit C binary
  - glibc-devel.i686              # a dependency required for executing a 32-bit C binary
  - libstdc++.i686                # a dependency required for executing a 32-bit C binary
  - libnss3.so
  - nss

Additional_Build_Tools_RHEL_ppc64:
  - glibc.ppc                     # a dependency required for executing a 32-bit C binary
  - glibc-devel.ppc               # a dependency required for executing a 32-bit C binary
  - libstdc++.ppc                 # a dependency required for executing a 32-bit C binary

Additional_Build_Tools_RHEL7_s390x:
  - glibc.s390                    # a dependency required for executing a 32-bit C binary
  - glibc-devel.s390              # a dependency required for executing a 32-bit C binary
  - libstdc++.s390                # a dependency required for executing a 32-bit C binary
  - yum-utils                     # yumdownloader required for devkit creation

Java_RHEL8Plus:
  - java-1.8.0-openjdk-devel

Java_NOT_RHEL8Plus:
  - java-1.7.0-openjdk-devel
  - java-1.8.0-openjdk-devel

Test_Tool_Packages:
  - acl
  - perl
  - perl-Digest-SHA
  - perl-Time-HiRes
  - perl-Test-Simple
  - xorg-x11-xauth
  - zlib-devel
  - perl-devel
  - expat-devel
  - libcurl-devel
  - mercurial
  - gnutls
  - gnutls-utils
  - shared-mime-info
  - nss-devel
  - nss-tools

Additional_Test_Tool_Packages_Wayland:
  - weston
  - wayland-utils
  - xorg-x11-server-Xwayland
