name: Docker

on:
  pull_request:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master
  push:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master

permissions:
  contents: read

jobs:
  build-and-push-centos6:
    name: Centos6
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@aa33708b10e362ff993539393ff100fa93ed6a27 # v3.5.0

    - name: Login to Docker Hub
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446 # v3.2.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
      if: github.ref == 'refs/heads/master'


    - name: Docker Build CentOS6 Image Test
      uses: docker/build-push-action@1a162644f9a7e87d8f4b053101d1d9a712edc18c # v6.3.0
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: false
      if: github.ref != 'refs/heads/master'

    - name: Docker Build & Push Centos6 Image to Docker Hub On Merge
      uses: docker/build-push-action@1a162644f9a7e87d8f4b053101d1d9a712edc18c # v6.3.0
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: false
      if: github.ref == 'refs/heads/master'

  build-and-push-alpine3:
    name: Alpine3
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@aa33708b10e362ff993539393ff100fa93ed6a27 # v3.5.0

    - name: Docker Build Alpine3 Image
      uses: docker/build-push-action@1a162644f9a7e87d8f4b053101d1d9a712edc18c # v6.3.0
      with:
        file: ./ansible/docker/Dockerfile.Alpine3
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/alpine3_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/alpine3_build_image:latest
        cache-to: type=inline
        push: false
