name: Docker

on:
  pull_request:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master
  push:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master

jobs:
  build-and-push-centos6:
    name: Centos6
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      if: github.ref == 'refs/heads/master'

    - name: Docker Build & Push Centos6 Image to Docker Hub
      uses: docker/build-push-action@v2
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: ${{ github.ref == 'refs/heads/master' }}
      env:
        git_sha: ${{ github.sha }}

  build-and-push-alpine3:
    name: Alpine3
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@v2

    - name: Docker Build Alpine3 Image
      uses: docker/build-push-action@v2
      with:
        file: ./ansible/docker/Dockerfile.Alpine3
        tags: adoptopenjdk/alpine3_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/alpine3_build_image:latest
        cache-to: type=inline
        push: false
      env:
        git_sha: ${{ github.sha }}
