name: Docker

on:
  pull_request:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master
  push:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master

permissions:
  contents: read

jobs:
  build-and-push-centos6:
    name: Centos6
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
      if: github.ref == 'refs/heads/master'


    - name: Docker Build CentOS6 Image Test
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: false
      if: github.ref != 'refs/heads/master'

    - name: Docker Build & Push Centos6 Image to Docker Hub On Merge
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: false
      if: github.ref == 'refs/heads/master'

  build-and-push-alpine3:
    name: Alpine3
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: Docker Build Alpine3 Image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        file: ./ansible/docker/Dockerfile.Alpine3
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/alpine3_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/alpine3_build_image:latest
        cache-to: type=inline
        push: false
