name: Vagrant Playbook Checker

on:
  pull_request:
    paths:
    - .github/workflows/build_vagrant.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    branches:         
    - master

permissions:
  contents: read

jobs:
  build-solaris:
    name: Solaris
    runs-on: macos-12
    steps:

    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

    - name: Install dependencies
      run: |
        brew install ansible

    - name: Install Solaris 10 Box If Not Already Present
      run: |
        if [ `vagrant box list|grep ^solaris10|wc -l` -gt 0 ]
        then
          echo "Box Exists - Do Nothing"
        else
          echo "No Box - Download From Jenkins And Import"
          wget https://ci.adoptopenjdk.net/userContent/vagrant/Solaris10.box.gz
          CKSUM=`shasum -a 256 ./Solaris10.box.gz|cut -d" " -f1`
          if [ "$CKSUM" = "0879215f4bf03f5e125addb139d0b5a49a4f8a258297b765cf1f22a8a7ee3309" ]
          then
            echo "Checksum OK"
            gunzip Solaris10.box.gz
            vagrant box add --name="solaris10" ./Solaris10.box
            rm Solaris10.box
          else
            echo "Sum Bad"
            exit 99;
          fi
        fi

    - name: Setup Vagrant VM
      run: |
        cd ansible
        ln -sf vagrant/Vagrantfile.Solaris10 Vagrantfile
        rm -f id_rsa.pub id_rsa
        # Copy the machine's ssh key for the VMs to use, after removing prior files
        ssh-keygen -q -f $PWD/id_rsa -t rsa -N ''
        vagrant up
        vagrantPORT=$(vagrant port | grep host | awk '{ print $4 }')
        rm -f playbooks/AdoptOpenJDK_Unix_Playbook/hosts.unx
        echo "[127.0.0.1]:${vagrantPORT}" >> playbooks/AdoptOpenJDK_Unix_Playbook/hosts.unx
        [ ! -r $HOME/.ssh/known_hosts ] && touch $HOME/.ssh/known_hosts && chmod 644 $HOME/.ssh/known_hosts
        ssh-keygen -R $(cat playbooks/AdoptOpenJDK_Unix_Playbook/hosts.unx)
        sed -i -e "s/.*hosts:.*/- hosts: all/g" playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
        awk '{print}/^\[defaults\]$/{print "private_key_file = id_rsa"; print "timeout = 60"; print "remote_tmp = $HOME/.ansible/tmp"}' < ansible.cfg > ansible.cfg.tmp && mv ansible.cfg.tmp ansible.cfg

    - name: Run Ansible Playbook
      run: |
        cd ansible
        ansible-playbook -i playbooks/AdoptOpenJDK_Unix_Playbook/hosts.unx -u vagrant -b --skip-tags adoptopenjdk,cups playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
