name: Windows Playbook Checker

defaults:
  run:
    shell: wsl-bash {0}

on:
  pull_request:
    paths:
    - .github/workflows/build_wsl.yml
    - ansible/playbooks/AdoptOpenJDK_Windows_Playbook/**
    branches:
    - master

# Cancel existing runs if user makes another push.
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

jobs:
  build-wsl:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]
    name: Windows
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setup WinRM and Password (checksum verified)
      shell: powershell
      run: |
        Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "Ansible_password123!" -Force)
        New-NetFirewallRule -DisplayName "ALLOW TCP PORT 5986" -Direction inbound -Profile Any -Action Allow -LocalPort 5986 -Protocol TCP
        Invoke-WebRequest https://raw.githubusercontent.com/ansible/ansible-documentation/devel/examples/scripts/ConfigureRemotingForAnsible.ps1 -OutFile .\ConfigureRemotingForAnsible.ps1
        $expectedChecksum = "EBA72DF06E3E77709595F75D1D5B4D95B06602429DD2A3F7867406DF875B0C70"
        $actualChecksum = Get-FileHash -Path ".\ConfigureRemotingForAnsible.ps1" -Algorithm SHA256 | Select-Object -ExpandProperty Hash
        if ($actualChecksum -ne $expectedChecksum) {
            Write-Output "Checksum mismatch"
            Write-Output "Actual Checksum: $actualChecksum"
            Write-Output "Expect Checksum: $expectedChecksum"
            exit 1
        } else {
            .\ConfigureRemotingForAnsible.ps1 -CertValidityDays 9999
            .\ConfigureRemotingForAnsible.ps1 -EnableCredSSP
            .\ConfigureRemotingForAnsible.ps1 -ForceNewSSLCert
            .\ConfigureRemotingForAnsible.ps1 -SkipNetworkProfileCheck
        }

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: Vampire/setup-wsl@5ff2c045a05fd477a71b5419d50c5a228a52468e # v4.1
      with:
        wsl-version: 1

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt install -y ansible

    - name: Setup Hosts file
      working-directory: ansible
      run: |
        rm -f playbooks/AdoptOpenJDK_Windows_Playbook/hosts.win
        cat <<EOF > playbooks/AdoptOpenJDK_Windows_Playbook/hosts.win
        [windows]
        127.0.0.1
        [windows:vars]
        ansible_user=runneradmin
        ansible_password=Ansible_password123!
        ansible_become=false
        EOF
        sed -i -e "s/.*hosts:.*/  hosts: all/g" playbooks/AdoptOpenJDK_Windows_Playbook/main.yml

    - name: Run Ansible Playbook
      working-directory: ansible
      run: |
        export ANSIBLE_CONFIG=./ansible.cfg
        # Skip MSVS_2013 until https://github.com/adoptium/infrastructure/issues/2178 is fixed
        ansible-playbook -i playbooks/AdoptOpenJDK_Windows_Playbook/hosts.win --extra-vars 'git_sha=${{ github.sha }}' -b --skip-tags adoptopenjdk,jenkins,MSVS_2013,reboot playbooks/AdoptOpenJDK_Windows_Playbook/main.yml
