name: Docker

on:
  pull_request:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master
  push:
    paths:
    - .github/workflows/build.yml
    - ansible/playbooks/AdoptOpenJDK_Unix_Playbook/**
    - ansible/docker/**
    branches:
    - master

permissions:
  contents: read

jobs:
  debug-pr-status:
  name: Input check
    runs-on: ubuntu-latest
    steps:
      - name: Checking your input
        run: |
          echo "github.event.pull_request.merged           : $MERGED_RAW"
          echo "github.event.pull_request.merged == 'true' : $MERGED_TRUE_STR"
          echo "github.event.pull_request.merged  == true  : $MERGED_TRUE_BOOL"
        env:
          MERGED_RAW: ${{ github.event.pull_request.merged }}
          MERGED_TRUE_STR: ${{ github.event.pull_request.merged == 'true' }}
          MERGED_TRUE_BOOL: ${{ github.event.pull_request.merged == true }}
          
  build-and-push-centos6:
    name: Centos6
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 # v2.2.1

    - name: Login to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      if: github.event.pull_request.merged

    - name: Docker Build CentOS6 Image Test
      uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a # v2.10.0
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: false
      if: github.ref != 'refs/heads/master'

    - name: Docker Build & Push Centos6 Image to Docker Hub On Merge
      uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a # v2.10.0
      with:
        file: ./ansible/docker/Dockerfile.CentOS6
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/centos6_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/centos6_build_image:latest
        cache-to: type=inline
        push: true
      if: github.event.pull_request.merged

  build-and-push-alpine3:
    name: Alpine3
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

    - name: Set up Docker Buildx to use cache feature
      uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 # v2.2.1

    - name: Docker Build Alpine3 Image
      uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a # v2.10.0
      with:
        file: ./ansible/docker/Dockerfile.Alpine3
        build-args: git_sha=${{ github.sha }}
        tags: adoptopenjdk/alpine3_build_image:latest
        cache-from: type=registry,ref=adoptopenjdk/alpine3_build_image:latest
        cache-to: type=inline
        push: false
